<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  
  <ion-card style="border: 2px solid;    border-color: #6dcdfa;" id="NongModel">
    <ion-card-header>Datos Usuario</ion-card-header>
    <ion-item>
      <ion-label>Usuario: </ion-label>
      <ion-input type="email" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
    </ion-item>

    <ion-tab-button style="color: #6dcdfa;" *ngIf="!logueado" (click)="IniciarSesion()">
      <ion-icon aria-hidden="true" name="enter-sharp"></ion-icon>
      <ion-label>Entrar</ion-label>
    </ion-tab-button>

    <ion-tab-button style="color: #6dcdfa;" *ngIf="!logueado" (click)="mostrarRegistro()">
      <ion-icon aria-hidden="true" name="pencil-sharp"></ion-icon>
      <ion-label>Registrarse</ion-label>
    </ion-tab-button>

    <ion-tab-button style="color: #6dcdfa;" *ngIf="logueado" (click)="CerrarSesion()">
      <ion-icon aria-hidden="true" name="exit-sharp"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>

  </ion-card>


  <ion-card *ngIf="mostrarFormRegistro" style="border: 2px solid; border-color: #455cdd;" id="RegistroForm">
    <ion-card-header>Registro Nuevo Usuario</ion-card-header>

    <form [formGroup]="form">
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="email" formControlName="correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña:</ion-label>
        <ion-input type="password" formControlName="clave"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Perfil:</ion-label>
        <ion-select formControlName="perfil">
          <ion-select-option value="admin">admin</ion-select-option>
          <ion-select-option value="invitado">invitado</ion-select-option>
          <ion-select-option value="usuario">usuario</ion-select-option>
          <ion-select-option value="tester">tester</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Sexo:</ion-label>
        <ion-select formControlName="sexo">
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="femenino">Femenino</ion-select-option>
          <ion-select-option value="otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-button expand="block" (click)="Registrarse()" [disabled]="form.invalid">Confirmar Registro</ion-button>
      <ion-button expand="block" fill="clear" color="medium" (click)="mostrarRegistro()">Cancelar</ion-button>
    </form>
  </ion-card>
  
  <br>
  <div class="acceso-rapido">
    <img src="https://firebasestorage.googleapis.com/v0/b/sala-medica.firebasestorage.app/o/fotoPerfilpaciente%2Fhappy-woman-thinking-looking-at-side-at-home_jpg.png?alt=media&token=f56ce8ff-1361-47a5-b0ee-26754bb72b83" 
    alt="Inicio sesion paciente" class="boton-login-usuario" (click)="Autocompletar('usuario1')">
    <img src="https://firebasestorage.googleapis.com/v0/b/sala-medica.firebasestorage.app/o/fotoPerfilpaciente%2Flionel-messi-fue-a-la-cancha-y-sorprendio-a-todos-HDDKI5EXMRDABESAGAD2FMPUOQ_png.png?alt=media&token=276cc4ce-9af7-4232-a0b8-76a6377c55af" 
    alt="Inicio sesion paciente" class="boton-login-usuario" (click)="Autocompletar('usuario2')">
    <img src="https://firebasestorage.googleapis.com/v0/b/sala-medica.firebasestorage.app/o/fotoPerfilEspecialista%2Fcv.jpg?alt=media&token=97028fa5-de42-494b-b6ba-867f9b3e2741"
    alt="Inicio sesion paciente" class="boton-login-usuario" (click)="Autocompletar('usuario3')">      
</div>
  <br>

  <ion-img class="logo-app" src="../../assets/icon-only.png"></ion-img>
  

</ion-content>