<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gráficos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grádicos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="secondary">
    <ion-card-header class="card-text">Cosas Lindas:</ion-card-header>
    <ion-card-content> 
      
   
    </ion-card-content>
  </ion-card>


  <ion-card color="tertiary">
    <ion-card-header class="card-text">Cosas Feas:</ion-card-header>
    <ion-card-content> 
      
    </ion-card-content>
  </ion-card>
</ion-content>
