<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gráficos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gráficos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="light" style="border: 2px solid; border-color: #94daf0;">
    <ion-card-header class="card-text">Popularidad de Cosas Lindas:</ion-card-header>
    <ion-card-content>       
         <canvas id="chartLindas" ></canvas>
    </ion-card-content>
  </ion-card>


  <ion-card color="light" style="border: 2px solid; border-color: #b87bf1;">
    <ion-card-header class="card-text">Popularidad de Cosas Feas:</ion-card-header>
    <ion-card-content> 
            <canvas id="chartFeas"></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
