<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="secondary">
    <ion-card-header class="card-text">Cosas Lindas:</ion-card-header>
    <ion-card-content> 
      <ion-list color="primary">
          <ion-item>
            <ion-radio>Elemento 1</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio>Elemento 2</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio>Elemento 3</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio>Elemento 4</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio>Elemento 5</ion-radio>
          </ion-item>
      </ion-list>
   
    </ion-card-content>
  </ion-card>


  <ion-card color="tertiary">
    <ion-card-header class="card-text">Cosas Feas:</ion-card-header>
    <ion-card-content> 
      <ion-list color="primary" class="lista">
          <ion-item>
            <ion-radio>Elemento 1</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio>Elemento 2</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio>Elemento 3</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio>Elemento 4</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio>Elemento 5</ion-radio>
          </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
