<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Relevamiento del edificio    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="{{mi_color}}">
  <ion-card color="secondary" (click)="almacenarCosasLindas()">
    <ion-card-header class="card-text">Cosas Lindas:</ion-card-header>
    <ion-card-content> 
      <img src="../../assets/cosaslindas.png" alt="cosaslindasboton"  class="boton">
    </ion-card-content>
  </ion-card>
  <ion-card color="tertiary" (click)="almacenarCosasFeas()" >
    <ion-card-header class="card-text">Cosas Feas:</ion-card-header>
    <ion-card-content> 
      <img src="../../assets/cosafeas.png" alt="cosaslindasboton" class="boton">
    </ion-card-content>
  </ion-card>
</ion-content>

