.boton{
    display: flex;
    margin: auto;
    gap: 20px;
    justify-content: center;    
    width: 250px;
    height: 250px;
}

.card-text{
    color: rgb(54, 54, 54);
    display: flex;
    font-size: 50px;
}