// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    // Usar el valor de 'tertiary' como 'primary'
    --ion-color-primary: var(--ion-color-secondary);
    --ion-color-primary-rgb: var(--ion-color-secondary-rgb);
    --ion-color-primary-contrast: var(--ion-color-secondary-contrast);
    --ion-color-primary-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
    --ion-color-primary-shade: var(--ion-color-secondary-shade);
    --ion-color-primary-tint: var(--ion-color-secondary-tint);
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  :root {
    --ion-font-family: "Itim", cursive;
  }